* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.hero {
	background: #ff676d;
	height: 100vh;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero h1 {
	text-align: center;
	padding-top: 40px;
	font-size: 40px;
	color: #fff;
}

.container {
	position: relative;
	background-color: #fff;
	width: 500px;
	height: 100px;
	border-radius: 5px;
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.swiper {
	width: 75%;
	height: 75%;
	overflow: hidden;
	/* background-color: #fafafa; */
}

.slide {
	position: relative;
	font-family: system-ui, "Segoe UI", sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 28px;
	text-align: center;
	transition: 0.5s;
	width: 100%;
	height: 100%;
	padding: 30px;
	display: none;
	align-items: center;
	justify-content: center;
}

.indicator {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
}
.indicator .btn {
	cursor: pointer;
	z-index: 10;
}

.indicator .nextBtn i,
.previousBtn i {
	cursor: pointer;
	margin: 10px;
	padding: 5px;
	font-size: 30px;
	border-radius: 50%;
	box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.active {
	display: block;
	transition: all 0.9s;
}

.next{
	-webkit-animation-name: next;
	-webkit-animation-duration: 1.2s;
	animation-name: next;
	animation-duration: 1.2s;
}
.prev {
	-webkit-animation-name: prev;
	-webkit-animation-duration: 1.2s;
	animation-name: prev;
	animation-duration: 1.2s;
}

/* @-webkit-keyframes fade {
	from {
		opacity: 0.8;
	}
	to {
		opacity: 1;
	}
} */

@keyframes prev {
	from {
		right: 160px;
	}
	to {
		right: 0px;
	}
}
@keyframes next {
	from {
		left: 160px;
	}
	to {
		left: 0px;
	}
}
